@ -1,47 +0,0 @@
# build
*.egg*
build/
dist/

# Spyder project settings
.spyderproject
.spyproject

# pyCharm project setting
.idea
.idea/

# macOS DS indices
.DS_STORE
Thumbs.db

# testdata
testdata

# debug data
*.debug/
*.debug

# jupyter
*.ipynb_checkpoints*

# other file names
*.tiff
*.par
*.pth
*.h5
*.env
*.xml
*.iml
*.pyc
*-checkpoint.ipynb*
*.nc
*.hdf
*.hdf5
.pylintrc

*/default.yaml
default.yaml

examples/*.json
examples/*.jsonld
examples/*.tif
examples/double_img
examples/single_img
*.bak
docs/getting_started/double_images/imgs/*
docs/getting_started/double_images/particles/*
docs/getting_started/double_images/*.json
docs/getting_started/single_img/imgs/*
docs/getting_started/single_img/particles/*
docs/getting_started/single_img/*.json
docs/jupyter_execute
docs/generated
docs/_build/*

.coverage
AGENTS.md
