-e .
-r requirements.txt
jupyterlab
sphinx >= 4.5.0
sphinx_book_theme
sphinx-copybutton
scikit-image
scikit-learn
sphinx-design
myst-nb
nbsphinx
sphinxcontrib-bibtex
h5rdmtoolbox @ git+https://github.com/matthiasprobst/h5RDMtoolbox@dev-jsonld